
@{
    ViewData["Title"] = "CampaingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row mt-2">
        <div class="col-12 justify-content-start">
            <!--Tarife eklemek için modal açan buton-->
            <input type="button" value="Kampanya Ekle" id="btnModalAdd" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal" />
        </div>
    </div>

    <div class="mt-2 text-center">
        <table class="table table-sm">
            <thead>
                <tr>
                    <td></td>
                    <td>Id</td>
                    <td>Kampanya Adı</td>
                    <td>Kampanya Açıklaması</td>
                    <td>Kampanya Fiyatı</td>
                    <td>Tarife</td>
                    <td>Ürünler</td>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Kampanya Ekle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Form Start-->
                    @*<form id="AddCampaingForm" method="post" class="justify-content-center">*@
                    <input type="hidden" value="" id="baseCampaingId" />
                    <div class=" d-flex flex-column input-group-sm">

                        <label for="CampaingName" class="fw-bold mt-1">Kampanya Adı</label>
                        <input type="text" class="form-control" name="CampaingName" id="campaingName" placeholder="Kampanya Adı Giriniz" required
                               oninvalid="this.setCustomValidity('Kampanya Adı Boş Olamaz')"
                               oninput="this.setCustomValidity('')" />

                        <label for="CampaingDescription" class="fw-bold mt-1">Kampanya Adı</label>
                        <input type="text" class="form-control" name="CampaingDescription" id="campaingDescription" placeholder="Kampanya Açıklaması Giriniz" required
                               oninvalid="this.setCustomValidity('Kampanya Açıklaması Boş Olamaz')"
                               oninput="this.setCustomValidity('')" />

                        <label for="Price" class="fw-bold mt-1">Kampanya Fiyatı</label>
                        <input type="text" class="form-control" name="Price" id="campaingPrice" pattern="[0-9]+([.][0-9]+)?" placeholder="Kampanya Fiyatı Giriniz" required
                               oninvalid="this.setCustomValidity('Kampanya Fiyatı Boş Olamaz. En Fazla 8 Haneli sayı Girmelisiniz')"
                               oninput="this.setCustomValidity('')" />

                        <div class="dropdown mt-3">
                            <button class="btn btn-outline-danger w-100 shadow-none dropdown-toggle btn-sm text-dark" type="button" id="scheduleMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Tarife Seçiniz
                            </button>
                            <ul class="dropdown-menu w-100" aria-labelledby="scheduleMenuButton" id="scheduleList"></ul>
                        </div>

                        <div class="dropdown mt-3">
                            <button class="btn btn-outline-danger w-100 shadow-none dropdown-toggle btn-sm text-dark" type="button" id="productMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Tarife Seçiniz
                            </button>
                            <ul class="dropdown-menu w-100" aria-labelledby="productMenuButton" id="productList"></ul>
                        </div>
                    </div>
                    <div class="justify-content-center">
                        <input type="button" id="btnAdd" value="Ekle" class="btn btn-outline-success mt-2" />

                    </div>

                    @*</form>*@
                    <!--Form End-->
                </div>
            </div>
        </div>

        <!--End Modal-->
    </div>

</div>
<script src="~/lib/jquery/jquery.min.js"></script>
<link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Campaing.js"></script>
